<?xml version="1.0"?>
<launch>
    <include file="$(find pedsim_gazebo_variable_sim)/launch/episode_manager.launch"/>
    <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch"/>
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
    
    <!-- <include file="$(find human_detection)/launch/human_pos_publisher.launch"/>
    <include file="$(find kf_tracking)/launch/human_tracking.launch"/> -->

    <!-- <include file="$(find dynamic_cloud_detector)/launch/dynamic_cloud_detector.launch"/> -->
    <node pkg="obstacle_detector_pca" type="obstacle_detector_pca" name="obstacle_detector_pca"/>
    <node pkg="obstacles_trajectory_predictor" type="obstacles_trajectory_predictor_demo" name="obstacles_trajectory_predictor_demo"/>

    <!-- <include file="$(find mv_evaluator)/launch/mv_evaluator.launch"/> -->

    <!-- <node pkg = "pedsim_gazebo_plugin" type = "spwan_pedsim_agents.py" name = "spwan_agents" output="screen"/>-->

</launch>
