<?xml version="1.0"?>
<launch>
	<arg name="people_num" default="10"/>
    <arg name="hz" default="10.0"/>
    <arg name="distance_threshold" default="3"/>
	<arg name="pkg_path" default="/home/amsl/Downloads/ros_catkin_ws/src/mv_evaluator"/>

	<param name="use_sim_time" value="true"/>

	<node pkg="mv_evaluator" type="mv_evaluator" name="mv_evaluator" output="screen">
		<param name="PEOPLE_NUM" value="$(arg people_num)" type="int"/>
		<param name="Hz" value="$(arg hz)" type="double"/>
        <param name="DISTANCE_THRESHOLD" value="$(arg distance_threshold)" type="double"/>
	</node>

	<!-- optional -->

</launch>
